.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-width {
    width: 100vw;
}

.list-decoration{
    list-style: none;
    color: white;
}

.ItemListContainer{
    min-height: 90vh;
}

